<!-- Sidebar -->
<div class="sidebar">
  <div class="author__avatar">
    <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}">
  </div>
  <div class="author__content">
    <h1 class="author__name">{{ site.author.name }}</h1>
    <p><a href="https://classics.yale.edu/eleanor-martin-19" target="_blank" rel="noopener">Yale University</a></p>
    <p><a href="mailto:eleanor.martin@yale.edu">eleanor.martin@yale.edu</a></p>
    <p><a href="https://orcid.org/0009-0003-8471-6742" target="_blank" rel="noopener">ORCID</a></p>
    <p><a href="https://bsky.app/profile/eleanormartin.bsky.social" target="_blank" rel="noopener">Bluesky</a></p>
  </div>
</div>
